.card {
    border-radius: 10px;
    background-color: var(--c-primary);
    box-shadow: 15px 0 15px rgba(0, 0, 0, 0.17);

    &.-no-background {
        background-color: transparent;
        box-shadow: none;

        > .-content {
            padding: 25px 0 0 0;
        }
    }

    .-header {
        gap: 5px;
        padding: 25px;
        display: flex;
        font-weight: 400;
        letter-spacing: .5px;
        flex-direction: column;
        border-bottom: 1px solid var(--c-gray85);

        .-title {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    .-content {
        padding: 25px;


        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
        }

        p {
            line-height: 1.5;
            letter-spacing: .5px;
        }

        .-svg {
            padding: 15px;
            min-height: 50px;
            min-width: 50px;
            width: fit-content;
            margin-bottom: 25px;
            border-radius: 50%;
            background-color: var(--c-secondary);

            img {
                width: 50px;
                margin: 0 auto;
            }
        }
    }
}