.markup {
    // margin: 0;
    padding: 0;
    // font-size: 1rem;
    line-height: 1.5;

    h1, h2, h3, h4, h5 {
        margin: 30px 0;
    }
    
    p {
        line-height: 1.5;
        font-size: 1rem;
        font-weight: normal;
    }

    table {
        width: 100%;
    }
}