/* ----------------------------------------------- *\
    site
\* ----------------------------------------------- */
html, body {
    margin: 0;
    padding: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.page {
    margin: 0;
    padding: 0;
    font-size: .9rem;
    scroll-behavior: smooth;
    background-color: var(--site-background-color);

    .page-header {
        top: 0;
        z-index: 3;
        width: 100%;
        position: fixed;
        min-height: 100px;
        align-content: center;
        background-color: var(--c-white);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.17);
        transition: .3s;
        -o-transition: .3s;
        -moz-transition: .3s;
        -webkit-transition: .3s;

        // Desktop version of the menu
        .header-desktop {
            margin: 0;
            padding: 0;
            display: flex;
            padding: 10px 25px;
            justify-content: space-between;

            @include tablet {
                display: none;
            }

            .-left {
                display: flex;
                margin: auto 0;

                .logo {
                    width: 100%;
                    max-width: 200px;
                }
            }

            .-right {
                margin: auto 0;
                text-align: right;

                .menu {
                    display: flex;

                    a {
                        margin: auto 0;
                        transition: .3s;
                        font-size: 1rem;
                        font-weight: 600;
                        padding: 15px 25px;
                        text-align: center;
                        color: var(--c-black);
                        text-decoration: none;

                        &:hover {
                            border-radius: 25px;
                            color: var(--c-primary);
                            background-color: var(--c-secondary);
                        }
                    }
                }
            }
        }

        // Mobile version of the menu
        .header-mobile {
            display: none;
            padding: 0 25px;
            min-height: 75px;
            position: relative;
            justify-content: space-between;

            @include tablet {
                display: flex;
            }

            .-left {
                display: flex;
                margin: auto 0;

                .logo {
                    width: 100%;
                    max-width: 200px;
                }
            }

            .-right {
                margin: auto 0;

                #menubars {
                    display: none;
    
                    &:checked ~ .mobile-menu {
                        right: 0;
                    }
                }
    
                .labelBars {
                    display: flex;
                    cursor: pointer;
    
                    img {
                        width: 35px;
                        height: 35px;
                        margin: auto 0;
                    }
                }
    
                .mobile-menu {
                    top: 0;
                    z-index: 5;
                    width: 100%;
                    right: -100%;
                    height: 100%;
                    position: fixed;
                    transition: .5s;
                    overflow: scroll;
                    background-color: var(--c-white);
    
                    .mobile-menu-widget {
                        height: 100%;
                        padding: 25px;
                        display: flex;
                        list-style: none;
                        flex-direction: column;
    
                        .labelBars {
                            justify-content: end;
                        }
        
                        .menu {
                            display: flex;
                            padding-top: 50px;
                            flex-direction: column;
        
                            .-item {
                                display: flex;
        
                                &:hover {
                                    transition: .3s;
                                    background-color: var(--c-secondary);
        
                                    a {
                                        transition: .3s;
                                        color: var(--c-primary);
                                    }
                                }
        
                                a {
                                    width: 100%;
                                    padding: 25px;
                                    font-size: 1rem;
                                    font-weight: 600;
                                    color: var(--c-black);
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .page-content {
        width: 100%;
        margin-top: 100px;
        // min-height: 100vh;
    
        .page-wrapper {
            margin: auto;
            z-index: 2;
            padding: 25px 0;
            max-width: 1250px;
            width: calc(100% - 60px);
        
            .header-section {
                padding-bottom: 25px;
            
                h3 {
                    font-weight: 700;
                    font-size: 1.5rem;
                    position: relative;
                    text-align: center;
                    padding-bottom: 15px;
            
                    &::before {
                        content: '';
                        height: 1px;
                        bottom: 1px;
                        width: 120px;
                        display: block;
                        position: absolute;
                        background: #ddd;
                        left: calc(50% - 60px);
                    }
            
                    &::after {
                        content: '';
                        bottom: 0;
                        height: 3px;
                        width: 40px;
                        display: block;
                        position: absolute;
                        left: calc(50% - 20px);
                        background: var(--c-azure);
                    }
                }
            
                p {
                    text-align: center;
                }
            }
        }

        .page-hero {
            display: flex;
            margin: auto 0;
            min-height: 800px;
            position: relative;

            .hero-background {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;
                position: absolute;
                align-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .hero-superposition {
                    top: 0;
                    z-index: 2;
                    opacity: 0;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: var(--c-black);
                }
            }

            .hero-wrapper {
                z-index: 1;
                margin: auto 20%;
                text-align: left;
                font-weight: 600;
                position: relative;
                color: var(--c-white);

                .-hero-title {
                    font-size: 4rem;
                    margin: 0 0 15px 0;
                    letter-spacing: 1px;
                }

                .-hero-description {
                    margin: 0;
                    font-size: 1.5rem;
                }
            }
        }

        .page-hero-2nd {
            display: flex;
            margin: auto 0;
            min-height: 300px;
            position: relative;
            background-color: var(--c-black);

            .hero-background {
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                opacity: .5;
                overflow: hidden;
                position: absolute;
                align-content: center;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .hero-superposition {
                    top: 0;
                    z-index: 2;
                    opacity: .5;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: var(--c-black);
                }
            }

            .hero-wrapper {
                z-index: 2;
                margin: auto;
                position: relative;
                text-align: center;
                color: var(--c-white);

                .-hero-title {
                    font-size: 2rem;
                    font-weight: 600;
                    margin: 0 0 15px 0;
                    letter-spacing: 1px;
                }

                .-hero-description {
                    margin: 0;
                    font-size: 1rem;
                    text-align: center;
                }

                .-hero-breadcrumbs {
                    gap: 5px;
                    display: flex;
                    margin-top: 25px;
                    justify-content: center;

                    a {
                        font-weight: 600;
                        position: relative;
                        text-transform: none;
                        text-decoration: none;
                        color: var(--c-primary);

                        &::after {
                            content: "\003E";
                            margin-left: 5px;
                        }
                    }
                }
            }
        }

        .page-section {
            z-index: 2;
            padding: 50px 0;
            position: relative;

            .page-background {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .page-superposition {
                    top: 0;
                    z-index: 2;
                    opacity: .5;
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    background-color: var(--c-black);
                }
            }

            &:has(.page-background) {
                display: flex;
                color: var(--c-white);
            }

            .page-title {
                margin: 0;
                font-weight: 600;
                font-size: 2rem;
                text-align: center;
            }

            .page-description {
                font-size: 1rem;
                text-align: center;
                padding-bottom: 50px;
            }
        }

        .page-about {
            z-index: 2;
            display: flex;
            padding: 50px 0;
            min-height: 600px;
            position: relative;

            .about-widget {
                gap: 100px;
                display: flex;

                @include mobile {
                    flex-direction: column;
                }

                .-left, .-right {
                    flex: 1;
                    max-width: 50%;

                    @include mobile {
                        max-width: 100%;
                    }
                }

                .-left {
                    margin: auto;
                    position: relative;

                    @include mobile {
                        margin: initial;
                    }

                    img {
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        width: 100%;
                        z-index: 1;
                        margin: auto 0;
                        object-fit: cover;
                        position: absolute;

                        @include mobile {
                            height: 100%;
                            height: -webkit-fill-available;
                        }

                        &:nth-child(1) {
                            animation: rotating 60s linear infinite;

                            @keyframes rotating {
                                from {
                                    transform: rotate(0deg);
                                }

                                to {
                                    transform: rotate(380deg);
                                }
                            }
                        }
                    }

                    .bubble {
                        z-index: 2;
                    }
                }

                .-right {
                    margin: 0 auto;

                    > h2 {
                        font-size: 2rem;
                    }

                    > p {
                        line-height: 1.5;
                        font-size: 1.1rem;
                        font-weight: 400;
                    }
                }
            }
        }

        .page-vehicle {
            padding-top: 25px;

            .vehicle-presentation {
                // 

                .-header {
                    // 

                    img {
                        width: 100%;
                        object-fit: cover;
                        height: 500px;
                    }
                }

                .-content {
                    padding-top: 15px;

                    label {
                        font-size: 1.5rem;
                        font-weight: 700;
                    }

                    p {
                        margin: 10px 0 0 0;
                    }
                }
            }

            .vehicle-block {
                padding: 25px 0;

                .-header {
                    padding-bottom: 15px;
                    border-bottom: 1px solid var(--c-black);

                    label {
                        font-weight: 700;
                        font-size: 1.5rem;
                    }
                }

                .-content {
                    font-size: 0.9rem;
                }
            }
        }

        .page-article {
            gap: 50px;
            display: flex;

            @include tablet {
                gap: 25px;
                flex-direction: column;
            }

            .-left {
                flex: 1;
            }

            .-right {
                width: 400px;

                @include tablet {
                    width: 100%;
                }
            }
        }
    }
    
    .page-footer {
        color: var(--c-primary);
        background-color: var(--c-secondary);

        .footer-menu {
            padding: 50px 0;
            border-bottom: 1px solid var(--c-gray85);

            .footer-menu-wrapper {
                margin: auto;
                padding: 25px 0;
                max-width: 1250px;
                width: calc(100% - 60px);

                .links-grid {
                    gap: 25px;
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);

                    @include tablet {
                        grid-template-columns: repeat(2, 1fr);
                    }

                    @include mobile {
                        grid-template-columns: repeat(1, 1fr);
                    }

                    .links-col {
                        margin: 0;
    
                        .-header {
                            display: flex;
                            font-size: 20px;
                            font-weight: 600;

                            img {
                                height: 75px;
                                margin: auto 0;
                            }
                        }
    
                        .-content {
                            padding-top: 25px;

                            .social-links {
                                gap: 15px;
                                display: flex;
                                margin-top: 15px;

                                .-link {
                                    display: flex;

                                    img {
                                        margin: auto;
                                        width: 25px;
                                    }
                                }
                            }

                            li {
                                list-style: none;

                                &:not(:last-child) {
                                    margin-bottom: 7px;
                                }
                            }

                            a {
                                text-transform: none;
                                text-decoration: none;
                                color: var(--c-primary);

                                &:hover {
                                    transition: .3s;
                                    font-weight: 700;
                                }
                            }

                            textarea,
                            input {
                                color: var(--c-primary);

                                &::placeholder {
                                    color: var(--c-gray85);
                                }
                            }
                        }
                    }
                }
            }
        }

        .footer-copyright {
            padding: 30px 0;
            text-align: center;

            p {
                margin: 0;
                padding: 0;
                font-size: 1rem;
                line-height: 1.5;

                a {
                    font-weight: 700;
                    text-decoration: none;
                    color: var(--c-primary);

                    &:hover {
                        transition: .3s ease;
                        color: var(--c-blue);
                    }
                }
            }
        }
    }
}