.stations {
    display: flex;

    .-list {
        width: 400px;
        height: 600px;
        overflow: scroll;

        .station-item {
            padding: 25px;
            list-style: none;
            cursor: pointer;
            font-weight: 500;

            &:hover {
                transition: .3s;
                color: var(--c-primary);
                background-color: var(--c-secondary);
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--c-gray);
            }
        }
    }

    .-map {
        flex: 1;
    }
}