<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>AutoCar</title>
        <meta name="viewport" content="width=device-width, maximum-scale=1">
        <link rel="icon" href="{{ asset("/content/img/favicon-autocar.png") }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
